services:
  minio:
    container_name: minio
    image: quay.io/minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
    networks:
      - minio-network
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=pipivo_db'
      - 'POSTGRES_PASSWORD=123'
      - 'POSTGRES_USER=xax'

    ports:
      - '5430:5432'
  elasticsearch:
    image: 'docker.elastic.co/elasticsearch/elasticsearch:8.15.0'
    environment:
      - 'discovery.type=single-node'
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "xpack.security.enabled=false"
    ports:
      - "9200:9200"
    volumes:
      - 'esdata:/usr/share/elasticsearch/data'
  logstash:
    image: 'docker.elastic.co/logstash/logstash:8.15.0'
    volumes:
      - './logstash.conf:/usr/share/logstash/pipeline/logstash.conf'
      - './postgresql-42.7.4.jar:/usr/share/logstash/postgresql.jar'
    depends_on:
      - 'elasticsearch'
      - 'postgres'
volumes:
  esdata:
  pgdata:
  minio-data:
networks:
  minio-network:
    driver: bridge