# Server
SERVER_PORT=7777

# Database
DB_URL=jdbc:postgresql://localhost:5430/pipivodb
DB_USERNAME=xax
DB_PASSWORD=123

# Elasticsearch
ELASTIC_URL=http://localhost:9200

# MinIO
MINIO_URL=http://localhost:9000
MINIO_ACCESS_NAME=minioadmin
MINIO_ACCESS_SECRET=minioadmin123
MINIO_BUCKET_NAME=pipivo

# File storage
BEER_IMAGE_FOLDER=./beer_images
AVATAR_IMAGE_FOLDER=./avatar_images

# ReCaptcha
RECAPTCHA_SECRET_KEY=your_secret_here

# Logging
LOG_LEVEL_ROOT=INFO
LOG_LEVEL_APP=DEBUG
